attached_assets/.724962906-D-D-5e-Manuale-Del-Dungeon-Master_1787259365939.pdf._gkF12Bzty_N478W-riNh~ filter=lfs diff=lfs merge=lfs -text
attached_assets/Calderone-Omnicomprensivo-di-TASHA_1787259976040.pdf filter=lfs diff=lfs merge=lfs -text
attached_assets/Guida_onnicomprensiva_di_Xanathar__1787259928030.pdf filter=lfs diff=lfs merge=lfs -text
attached_assets/Manuale_del_giocatore__1787259882002.pdf filter=lfs diff=lfs merge=lfs -text
attached_assets/724962906-D-D-5e-Manuale-Del-Dungeon-Master_1787282954664.pdf filter=lfs diff=lfs merge=lfs -text
attached_assets/847921086-Manuale-Dei-Mostri-5e_ok_1787286581630.pdf filter=lfs diff=lfs merge=lfs -text
